.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    height: 20vh;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  
  #linkedin-icon:hover {
    color: #0077B5; /* Change color to LinkedIn blue on hover */
}

/* Define the hover effect for GitHub */
#github-icon:hover {
    color: #211F1F; /* Change color to GitHub black on hover */
}

/* Define the hover effect for Twitter */
#twitter-icon:hover {
    color: #5f6365; /* Change color to Twitter blue on hover */
}