<footer class="footer">
    <div class="container">
      <div style="font-size: 30px; margin-top: 1.8%;">
        <a href="https://www.linkedin.com/in/manikumarhl/" target="_blank"><i class="fa-brands fa-linkedin" style="margin-right: 2%;" id="linkedin-icon"></i></a>
        <a href="https://github.com/MANIKUMAR98" target="_blank"><i class="fa-brands fa-github" style="margin-right: 2%;" id="github-icon"></i></a>
        <a href="https://twitter.com/Manikumar_hl" target="_blank"><i class="fa-brands fa-x-twitter" id="twitter-icon"></i></a>
      </div>
      <div style="border-bottom: 1px solid white; margin-top: 2.3%;"></div>
      <p style="margin-top: 1.8%;" class="source-sans"> Copyright &copy; {{currdate}} . Made by <a style="text-decoration: underline;" href="https://www.linkedin.com/in/manikumar-h-l-24a50a173/" target="_blank">Manikumar</a></p>
    </div>
  </footer>
  
