<footer class="footer">
    <div class="container">
      <div style="font-size: 30px; margin-top: 1.8%;">
        <a href="https://www.linkedin.com/in/manikumar-honnenahalli-lakshminarayana-swamy-24a50a173/" target="_blank"><ion-icon id="linkedin-icon" style="margin-right: 2%;" name="logo-linkedin"></ion-icon></a>
        <a href="https://github.com/MANIKUMAR98" target="_blank"><ion-icon style="margin-right: 2%;" id="github-icon" name="logo-github"></ion-icon></a>
        <a href="https://twitter.com/Manikumar_hl" target="_blank"><ion-icon name="logo-twitter" id="twitter-icon"></ion-icon></a>
      </div>
      <div style="border-bottom: 1px solid white; margin-top: 2.3%;"></div>
      <p style="margin-top: 1.8%;" class="source-sans">&copy; Copyright {{currdate}} 2024 . Made by <a style="text-decoration: underline;" href="https://manikumarhl.vercel.app/">Manikumar</a></p>
    </div>
  </footer>
  