input::placeholder,
textarea::placeholder {
  font-size: 17px; /* Adjust the font size as needed */
}

.contact-container {
  width: 700px;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .contact-container {
    width: 600px;
  }
}