<div style="margin-top: 5%; ">
    <div class="flex uppercase justify-center text-3xl font-bold bg-gradient-to-r from-teal-500 via-indigo-600 to-orange-500  text-transparent bg-clip-text bg-300% animate-gradient">
      Technical Skills
  </div>
  <div class="flex justify-center mt-1">
    <img src="https://demo.templateflip.com/super/images/marker.svg"/>
  </div>
  <div class="mt-12 ml-12 mr-12 mb-16 flex justify-start flex-wrap justify-evenly">
    <div data-aos="zoom-in" data-aos-duration="1300" data-aos-once="true" [class.mat-elevation-z8] = "true" class="mb-8">
      <mat-card appMaterialElevation>
        <mat-card-header class="mb-2">
          <mat-card-title class="!font-semibold tracking-wide">Programming Languages</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content >
          <div class="flex justify-start mt-6 space-x-6">
            <img class="icon-height" matTooltip="JAVA" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original-wordmark.svg" />
              
            <img class="icon-height" matTooltip="Python" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original-wordmark.svg" />   
    
            <img class="icon-height" matTooltip="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-plain.svg" />
              
            <!-- <img class="icon-height" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original-wordmark.svg" /> -->
              
            <img class="icon-height" matTooltip="C++" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/cplusplus/cplusplus-original.svg" />
              
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div data-aos="zoom-in" data-aos-duration="1300" data-aos-once="true" [class.mat-elevation-z8] = "true" class="mb-8">
      <mat-card appMaterialElevation>
        <mat-card-header class="mb-2">
          <mat-card-title class="!font-semibold tracking-wide">Frameworks</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div class="flex justify-start mt-6 space-x-6">
    
            <img class="icon-height" matTooltip="Spring Boot" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/spring/spring-original-wordmark.svg" />
           
            <img class="icon-height" matTooltip="Angular" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg" />
              
            <img class="icon-height" matTooltip="Django" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/django/django-plain-wordmark.svg" />
              
            <img class="icon-height" matTooltip="Node.js" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nodejs/nodejs-original-wordmark.svg" />
              
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div data-aos="zoom-in" data-aos-duration="1300" data-aos-once="true" [class.mat-elevation-z8] = "true" class="mb-8">
      <mat-card appMaterialElevation>
        <mat-card-header class="mb-2">
          <mat-card-title class="!font-semibold tracking-wide">Containerization & Cloud</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div class="flex justify-start mt-6 space-x-6">
            <img class="icon-height" matTooltip="Docker" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-original-wordmark.svg" />
              
            <img class="icon-height" matTooltip="Kubernetes" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/kubernetes/kubernetes-original-wordmark.svg" />
              
            <img class="icon-height" matTooltip="Openshift" src="assets/images/openshift-svgrepo-com.svg" />
    
            <img class="icon-height" matTooltip="Azure" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/azure/azure-original.svg" />
              
          </div>
        </mat-card-content>
      </mat-card>
    </div>     
  
    <div data-aos="zoom-in" data-aos-duration="1300" data-aos-once="true" [class.mat-elevation-z8] = "true" class="mb-8">
      <mat-card appMaterialElevation>
        <mat-card-header class="mb-2">
          <mat-card-title class="!font-semibold tracking-wide">Database</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div class="flex justify-start mt-6 space-x-6">
            
            <img class="icon-height" matTooltip="MS SQL Server" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/microsoftsqlserver/microsoftsqlserver-original-wordmark.svg" />
              
            <img class="icon-height" matTooltip="My SQL" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original-wordmark.svg" />
              
            <img class="icon-height" matTooltip="SQLite" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/sqlite/sqlite-original-wordmark.svg" />
              
            <img class="icon-height" matTooltip="MangoDB" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mongodb/mongodb-original-wordmark.svg" />
              
          </div>
        </mat-card-content>
      </mat-card>
    </div>  
  
    <div data-aos="zoom-in" data-aos-duration="1300"  data-aos-once="true"  [class.mat-elevation-z8] = "true" class="mb-8">
      <mat-card appMaterialElevation>
        <mat-card-header class="mb-2">
          <mat-card-title class="!font-semibold tracking-wide">Developer Tools</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div class="flex justify-start mt-6 space-x-6 flex-wrap">
            
            
            <img class="icon-height" matTooltip="GIT" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-plain-wordmark.svg" />
            
            <img class="icon-height" matTooltip="GitHub" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original-wordmark.svg" />
            
            <img class="icon-height" matTooltip="Linux" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linux/linux-original.svg" />
            
            <img class="icon-height" matTooltip="VS Code" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vscode/vscode-original-wordmark.svg" />
             
          </div>
        </mat-card-content>
      </mat-card>
    </div>  
  
    <div data-aos="zoom-in" data-aos-duration="1300"  data-aos-once="true"  [class.mat-elevation-z8] = "true" class="mb-8">
      <mat-card appMaterialElevation>
        <mat-card-header class="mb-2">
          <mat-card-title class="!font-semibold tracking-wide">Others</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div class="flex justify-start mt-6 space-x-6 flex-wrap">
            
            
            <img class="icon-height" matTooltip="Apache Kafka" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/apachekafka/apachekafka-original-wordmark.svg" />
            
            <img class="icon-height" matTooltip="RabbitMQ" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/rabbitmq/rabbitmq-original-wordmark.svg" />
            
            <img class="icon-height" matTooltip="Splunk" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/splunk/splunk-original-wordmark.svg" />
            
            <!-- <img class="icon-height" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original-wordmark.svg" />
            
            <img class="icon-height" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original-wordmark.svg" />
             -->
            <img class="icon-height" matTooltip="Jenkins" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/jenkins/jenkins-original.svg" />
            
            
          </div>
        </mat-card-content>
      </mat-card>
    </div>  
  </div>
  </div>
  