

  <div id=vanta style="margin-top: -1.5%;">
    <div class="nav-bar text-lg tracking-wider">
      <div>About</div>
      <div>My Skills</div>
      <div>Work Experience</div>
      <div>Projects</div>
      <div>Contact Me</div>
    </div>
    <div style="margin-left: 6%; display: flex; margin-right: 9%;">
        <div>
          <div class="typing-container">
            <h1 class="name text-3xl">
              <span #typingElement></span>
            </h1>
          </div>
          <div class="about tracking-wider mt-5">
            <p>Hi!,</p>
            <p  style="line-height: 30px;">
              I'm graduate student currently pursuing a Master of Science in Computer Science at the University of Florida. I bring with me a robust foundation as a software developer, well-versed in programming languages such as Java, Python, and JavaScript. Additionally, I have hands-on experience with containerization technologies like Docker and orchestration tools like Kubernetes, Openshift. My journey in technology is a continuous quest for new challenges, driven by curiosity, and a commitment to expanding my skill set.
            </p>
          </div>
        </div>
        <div>
          <div class="profile-pic-container">
            <img src="assets/images/profile_pic.jpeg" alt="Profile Picture" class="profile-pic">
          </div>
        </div>
      </div>

  </div>
