::ng-deep .typed-cursor {
    margin-left: 3px;
}

.name {
    padding-top: 15%;
    font-family: sans-serif;
    font-weight: 600;
    color: #333;
    letter-spacing: 1px;
    font-weight: 600;
    transition: color .3s;
}

.about {
    font-size: 18px;
    width: 77%;
    font-family: inherit;
    text-align: justify;
    color: #333;
    letter-spacing: 1px;
    transition: color .3s;
}

.profile-pic-container {
    width: 216px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 42%;
  }
  
  .profile-pic {
    width: 100%;
    height: 215%;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
  }

  .nav-bar {
    padding: 1.5rem 2rem;
    display: inline-block;
    color: #333;
    letter-spacing: 1px;
    font-weight: 700;
    transition: color .3s;
  }

  .nav-text:hover {
    // border-bottom: 2px solid red;
    color: rgb(185, 185, 114);
  }

  .user-background {
    background-image: linear-gradient(to right, #a7f3d0, #a7cdf3);
    height: 100% !important;
  }

  .nav {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      position: fixed;
      top: 0;
      z-index: 1;
      width: 100%;
  }

  @media screen and (max-width: 1069px) {
    .nav {
      display: none !important;
    }
  }

  .scrolled {
    // background-color: whitesmoke;
    backdrop-filter: blur(6px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    // border-bottom: 1px solid red;
    background-image: linear-gradient(to right, #a7f3d0, #a7cdf3);
  }

  .hire-btn {
    background-color: black;
    color: white;
    margin-right: 3%;
    width: 130px;
    height: 41px;
    font-size: 1.08rem;
    border-radius: 8px;
    font-weight: 700;
    margin-top: 2%;
    cursor: pointer;
  }

  .resume-btn {
    background-color: white;
    color: black;
    margin-right: 2%;
    height: 41px;
    font-size: 1.08rem;
    border-radius: 8px;
    font-weight: 700;
    margin-top: 2%;
  }

  ////////// Exp ///////////// 
.exp {
  height: 100vh;
  background-color: rgb(15, 23, 42);
}

.profile-pic-container-mobile {
  display: none;
}

@media screen and (max-width: 900px) {
  .profile-pic-container-mobile {
    width: 200px;
    height: 205px;
    overflow: hidden;
    border-radius: 50%;
    display: block;
  }

  .profile-pic-container { 
    display: none !important;
  }

  .name {
    padding-top: 4%;
  }

  .about {
    width: 100%;
  }
}

.large-desc {
  display: block;
}
.small-desc {
  display: none;
}

@media screen and (max-width: 500px) {
  .small-desc {
    display: block;
  }

  .large-desc {
    display: none;
  }
  
}