

  <div id="about" class="user-background">
    <div data-aos="fade-down" data-aos-duration="1300" data-aos-once="true" class="flex justify-between nav nav-background">
      <div style="display: flex; " class="text-lg source-san font-semibold	items-center tracking-[.06em] nav-bar ml-[3rem] text-[1.3rem]">
        <div (click)="scroll('about')" style="width: 10%; cursor: pointer;"><img src="favicon.png" alt="Profile Picture"></div>
        <div (click)="scroll('about')" style="cursor: pointer;" class="ml-2">{{navbarData.userName}}</div>
      </div>
      <div class="flex">
        <div *ngFor="let navbar of navbarData.data" class="nav-bar source-sans font-normal text-[1.15rem]" (click)="scroll(navbar.target)">
          <div class="cursor-pointer nav-text">{{navbar.name}}</div>
        </div>
      </div>
    </div>
    <div style="margin-left: 6%; display: flex; margin-right: 9%; padding-top: 6%;" data-aos="fade-up" data-aos-once="true" data-aos-duration="1300"> 
      <div>
        <div style="display: flex; justify-content: center;">
          <div class="profile-pic-container-mobile">
            <img src="assets/images/Subject.png" alt="Profile Picture" class="profile-pic">
          </div> 
        </div>
          <div class="typing-container">
            <h1 class="name !text-3xl">
              <span #typingElement></span>
            </h1>
          </div>
          <div class="about tracking-wider mt-5 source-sans">
            <p >Hi!</p>
            <p  style="line-height: 30px;" class="large-desc">
              I'm graduate student currently pursuing a Master of Science in Computer Science at the University of Florida. I bring with me a robust foundation as a software developer, well-versed in programming languages such as Java, Python, and JavaScript. Additionally, I have hands-on experience with containerization technologies like Docker and orchestration tools like Kubernetes, Openshift. My journey in technology is a continuous quest for new challenges, driven by curiosity, and a commitment to expanding my skill set.
            </p>

            <p  style="line-height: 30px; " class="small-desc">
              I'm graduate student currently pursuing a Master of Science in Computer Science at the University of Florida. I bring with me a robust foundation as a software developer, well-versed in programming languages such as Java, Python, and JavaScript. Additionally, I have hands-on experience with containerization technologies like Docker and orchestration tools like Kubernetes, Openshift.</p>
          </div>
        </div>
        <div>
          <div class="profile-pic-container">
            <img src="assets/images/Subject.png" alt="Profile Picture" class="profile-pic">
          </div>
        </div>
      </div>
      <div class="!flex" style="margin-left: 6%;" data-aos="fade-up" data-aos-once="true" data-aos-duration="1300">
        <button class="hire-btn source-sans" onclick="window.open('https://www.linkedin.com/in/manikumar-honnenahalli-lakshminarayana-swamy-24a50a173/', '_blank')">Hire Me</button>
        <div style="display: flex; width: 130px; justify-content: center; cursor: pointer;" class="resume-btn source-sans">
          <a href="assets/data/MANIKUMAR HONNENAHALLI LAKSHMINARAYANA SWAMY.pdf" download style="display: flex; align-items: center; justify-content: center;">Resume <img style="width: 20%; margin-left: 5%;" src="assets/images/svg/download_btn.svg"></a>

        </div>
        
      </div>

  </div>

  <div id="skills">
    <app-skills></app-skills>
  </div>

<!-- Work Expeience -->
<div id="work" class="exp">
  <app-work-experience></app-work-experience>
</div>

<div id="contact">
  <app-contact-form></app-contact-form>
</div>

<div>
  <app-footer></app-footer>
</div>